Hi, dear happy user #{@user.name},
%br
%br

Hereby notifying you that a cute user #{@author.name} has commented on the idea you posted - <a href="http://ideas.coshx.com/ideas/#{@comment.idea.id}">#{@comment.idea.title}</a>

%br
%br

Please accept our warmest congratulations about that,
seems your ideas are valuable and important to people yo. 
%br
%br

Follow this link if you care to read the comment and if YOU WANT to reply: <a href="http://ideas.coshx.com/ideas/#{@comment.idea.id}">#{@comment.idea.title}</a>

%br
%br

Thank you and have a good day, sir,<br>
Nerdy yours<br>
Coshx Ideas<br>